body {
    overflow-x: hidden;
}
p {
    margin: 0;
    font-size: 3vmin;
}
h1 {
    font-size: 6vmin;
}
h3 {
    font-size: 4vmin;
}
ul {
    font-size: 2.5vmin;
}
.container {
    display: flex;
    margin-bottom: 5%;
}
.threeDCard,
.noteBox {
    padding: 2%;
    border-radius: 15px;
}
.threeDCard {
    background-color: rgb(224, 224, 224);
    box-shadow: 0px 0px 30px rgb(190, 190, 190);
}

.noteBox {
    background-color: rgb(255, 85, 85);
    box-shadow: 0px 0px 30px rgb(255, 67, 67);
}
.weather-wrapper {
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t1 {
    background-color: rgb(75, 234, 255);;
}
.t2 {
    background-color: rgb(92, 255, 179);
}
.t3 {
    background-color: rgb(92, 255, 127);
}
.t4 {
    background-color: rgb(193, 255, 92);
}
.t5 {
    background-color: rgb(255, 239, 92);
}
.btn {
    width: 42px;
    height: 38px;
    margin-top: 10px;
}
.temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
select {
    margin-bottom: 10px;
}
option {
    font-family: cursive;
}
option:nth-child(2n) {
    background-color: rgb(240, 248, 255);
}