* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Outfit, sans-serif;;
}
a {
    text-decoration: none;
    overflow: hidden;
}
p {
    font-size: 5vmin;
}
h1 {
    font-size: 9vmin;
    margin: 0.5em;
}
h2 {
    font-size: 7vmin;
    margin: 0.5em;
}
h3 {
    font-size: 4vmin;
    margin: 0.5em;
}
li {
    font-size: 3vmin;
    margin: 0.5em;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 110px;
    background-color: #b6d0ee;
    box-shadow: 0px 6px 40px 0px #386ba5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.navItems {
    margin: 2%;
    color: rgb(29, 30, 32);
    font-size: 25px;
    transition: color .4s;
}
.navItems:hover {
    color: rgb(150, 150, 150);
}
.navItems::after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 0;
    height: 2px;
    background: #0060b9;
    transition: cubic-bezier(0,0,.25,1) .4s;
}
.navItems:hover::after {
    width: 100%;
    left: 0;
}

label {
    display: none;
    flex-direction: column;
    width: 50px;
    cursor: pointer;
}
label span {
    background: rgb(29, 30, 32);
    border-radius: 10px;
    height: 7px;
    margin: 6px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
span:nth-of-type(1) {
    width: 50%;
}
span:nth-of-type(2) {
    width: 100%;
}
span:nth-of-type(3) {
    width: 75%;

}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~span {
    background-color: #a30000;
}

input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 3px);
}

input[type="checkbox"]:checked~span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
}

input[type="checkbox"]:checked~span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(21.5px, -12px) rotatez(45deg);

}

.sideMenu {
    position: fixed;
    display: flex;
    left: -100%;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(120deg, #E7F0FD, #6BA9EF);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: left .4s;
    z-index: 10;
    overflow: hidden;
}
.sideMenuItems {
    color: rgb(24, 29, 37);
    font-size: 5vh;
    margin: 25px 0;
    overflow: hidden;
}
.sideMenuItems:hover {
    border-bottom: 2px solid rgb(31, 63, 114);
}
.fab {
    font-size: 15em;
    color: #171515;
    margin: 0 1.5%;
}
.fa-youtube:hover {
    color: #ff0000;
}
.fa-instagram:hover {
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills {
    height: 100vh;
    background-color: #d2d3d6;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skillsTitle {
    padding-top: 20vh;
}
.skillCards {
    width: 50vmin;
    height: 55vmin;
    background-color: #ffffff;
    border: 3px solid #1e242c;
    border-radius: 50px;
    overflow: hidden;
}
.skillsList {
    padding-left: 5%;
}
.skillsImage {
    margin-left: 5%;
    width: 4vmin;
    height: 4vmin;
}
@media screen and (max-width: 900px) {
    label {
        display: flex;
        position: absolute;
        right: 5%;
    }
    .navItems {
        display: none;
    }
    .navbar {
        height: 100px;
        justify-content: start;
    }
    .fab {
        margin: 0 2%;
    }
}
@media screen and (max-width: 450px) {
    .navbar {
        height: 80px;
    }
    h3 {
        font-size: 5vmin;
    }
    li {
        font-size: 3.5vmin;
    }
}
@media screen and (max-height: 350px) {
    .sideMenuItems {
        font-size: 30px;
    }
}
.home {
    background-image: url(media/background-image.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    align-content: center;
}
.myPic {
    box-shadow: 0px 0px 50px 5px #00244d;
    user-select: none;
    height: 30vmin;
    width: 30vmin;
    border-radius: 50%;
    border: 4px solid #05111fdc;
    margin-top: 5%;
}
.myProfession{
    font-weight: 400;
    font-size: 5vmin;
}
.homeText {
    text-align: center;
}
.homeText,
.skillsTitle,
.skillCategories {
    color: #1e242c;
}
.about {
    width: 100vw;
    height: 100vh;
    background-color: #001936;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}
.aboutHeader, .aboutDescription {
    color: #ebebeb;
}